ask-page {
  ion-scroll {
    margin-top: 55px;
  }

  .page-number {
    line-height: 3;
    text-transform: uppercase;
    font-size: 92%;
  }

  ion-footer .toolbar-content {
    text-align: center;
  }

  .no-back button {
    opacity: 0.3;
  }

  .yes-back button {
    opacity: 1;
    color: #327eff !important;
  }
}