news-container {

  // these styles can be removed once
  // this is fixed https://github.com/ionic-team/stencil/issues/91
  ion-header.header-md.header-ios::after {
    background-image: none;
  }

  ion-footer.footer-md.footer-ios::before {
    background-image: none;
  }
  ////////////////////////////////

  ion-footer ion-button button {
    text-transform: uppercase !important;
  }

  ion-toolbar {
    display: flex;
    flex-direction: row;
  }

  ion-header ion-toolbar.toolbar-ios {
    min-height: 56px;
  }

  ion-header .bar-buttons.bar-buttons-ios {
    margin-right: 36px;
  }

  ion-scroll.content-ios {
    margin-top: 51px !important;
  }

  .tabs-bar {
    order: 2;
  }

  ion-header ion-buttons {
    order: 1 !important;
    height: 32px;
    width: 32px;
    margin-right: 29px;
    padding-left: 11px;
  }

  ion-icon {
    fill: white;
  }

  ion-icon svg {
    width: 2.5em;
    height: 2em;  
  }

  .page-number {
    line-height: 3;
    text-transform: uppercase;
    font-size: 92%;
  }

  ion-footer ion-toolbar div.toolbar-background {
    background: white;
  }

  ion-footer {
    height: 48px;
  }

  ion-footer ion-toolbar {
    min-height: 48px !important;
  }

  .header-button {
    opacity: 0.6;
    width: 7rem;
  }

  .header-button-selected.header-button .header-button {
    opacity: 1 !important;
  }

  .header-button-selected.header-button {
    opacity: 1 !important;
  }

  .header-button-selected button {
    font-weight: bold !important;
  }

  ion-toolbar ion-button.header-button button {
    color: white !important;
  }

  .tabs-bar {
    display: flex;
  }

  .no-back button {
    opacity: 0.3;
  }

  .yes-back button {
    opacity: 1;
    color: #327eff !important;
  }

  .bar-buttons button {
    font-weight: 600;
  }

  .pager {
    text-align: center;
  }
}



