ion-toolbar ion-button.header-button button {
  color: white !important;
}

.header-icon {
  color: white;
  font-size: 3.4rem !important;
  margin-left: 15px !important;
  width: 3.4rem;
}

ion-skeleton-text {
  display: inline-block;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

ion-skeleton-text span {
  display: inline-block;
  font-size: 0.8rem;
  background-color: #ececec;
}
