ion-label {
  white-space: normal !important;
}

ion-toolbar ion-button.header-button button {
  color: white !important;
}

ion-header {
  ion-toolbar {
  display: flex;
  flex-direction: row;

  ion-buttons {
    order: 1 !important;
    height: 32px;
    width: 32px;
    margin-right: 29px;
    padding-left: 11px;

    ion-icon {
      fill: white;

      svg {
        width: 2.5em;
        height: 2em;
      }
    }
  }

  .tabs-bar {
    order: 2;
  }
}
}

news-list {
  ion-list {
    .item-inner {
      padding-bottom: 10px;
      padding-top: 7px;
      border-bottom-color: #e4e7ec !important;
    }
  }
}

.points {
  color: #327eff;
  font-weight: bold;
  width: 55px;
  padding-left: 10px;
}

.header-icon {
  color: white;
  font-size: 3.4rem !important;
  margin-left: 15px !important;
  width: 3.4rem;
}

.page-number {
  line-height: 3;
  text-transform: uppercase;
  font-size: 92%;
}

.pager {
  text-align: center;
}

ion-footer ion-toolbar div.toolbar-background {
  background: white;
}

ion-footer {
  height: 48px;
}

ion-footer ion-toolbar {
  min-height: 48px !important;
}

.comments-text {
  color: #717883;
  cursor: pointer;
}

.list-header a {
  color: #202939;
  text-decoration: none;
}

.item-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.comments-title {
  line-height: 2.1;
}

.header-button {
  opacity: 0.6;
  width: 7rem;
}

.header-button-selected {
  opacity: 1 !important;

  .header-button {
    opacity: 1 !important;
  }
}

.header-button-selected button {
  font-weight: bold !important;
}

.tabs-bar {
  display: flex;
}

.no-back button {
  opacity: 0.3;
}

.yes-back button {
  opacity: 1;
  color: #327eff !important;
}

.close-button ion-icon {
  color: white;
  font-size: 2.3rem;
  margin-left: 15px;
}

.ionic-icon {
  height: 40px;
  float: left;
  margin-left: 10px;
}

.bar-buttons {
  button {
    font-weight: 600;
  }
}

ion-skeleton-text {
  display: inline-block;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

ion-skeleton-text span {
  display: inline-block;
  font-size: 0.8rem;
  background-color: #ececec;
}
