comments-page {
  .close-button ion-icon {
    color: white;
  }

  #no-comments {
    text-align: center;
  }

  ion-buttons[slot="end"] {
    order: 6!important;
  }

  ion-buttons[slot="end"] button {
    height: 1.8em;
  }
}